<!-- Toolbar -->
<div class="toolbar" role="banner">
  <table>
    <tr>
      <th>Currency</th>
      <th>Rate</th>
    </tr>
    <tr>
      <td>USD</td>
      <td class="td-number">
        {{ inforesultUSD }}
      </td>
    </tr>
    <tr>
      <td>EUR</td>
      <td class="td-number">
        {{ inforesultEUR }}
      </td>
    </tr>
  </table>
</div>

<div class="converter" role="main">
  <h1>{{ title }}</h1>

  <div>
    <div class="box">
      <input
        #in1
        type="number"
        value="{{ result1 }}"
        (input)="changefrominput(in1.value)"
      />
      <select
        #c1
        name=""
        id="contry1"
        (change)="changeSelect(c1.value, c2.value, in1.value, in2.value)"
      >
        <option value="USD">USD</option>
        <option value="UAH">UAH</option>
        <option value="EUR">EUR</option>
      </select>
    </div>
    <span class="quer"></span>
    <div class="box">
      <input
        #in2
        type="number"
        value="{{ result2 }}"
        (input)="changetoinput(in2.value)"
      />
      <select
        #c2
        name=""
        id="contry1"
        (change)="changeSelect(c1.value, c2.value, in1.value, in2.value)"
      >
        <option value="USD">USD</option>
        <option value="UAH" selected>UAH</option>
        <option value="EUR">EUR</option>
      </select>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
